.annonce-root {
  .scroll-container {
    overflow: auto;
  }
  .annonce-container {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    margin-top: 3rem;
  }
  .p_end_scroll {
    padding: 1rem 0rem;
  }
  .infinite-scroll-component {
    height: inherit !important;
    overflow: inherit !important;
  }
}
