.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0rem;
}

.div_details_annonce {
  .card {
    padding-inline: 3rem;
    max-width: 90%;
  }

  .div_info {
    &_item {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    .card {
      .title {
        text-align: center;
        margin: 1rem;
      }
      &_content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}

@media (min-width: 1025px) {
  .div_details_annonce {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: repeat(auto-fill, minmax(50% 50%));
    align-items: flex-start;
    margin: 2rem;
    gap: 2%;
    padding: 2rem 0rem;
    .card {
      padding-inline: 3rem;
      max-width: 90%;
    }
  }
  .div_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    .card {
      width: -webkit-fill-available;
    }
  }

  .div_images {
    &_container {
      height: 120vh;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &_item {
      margin: 1rem;
      img {
        border-radius: 15px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .div_details_annonce {
    display: block;
    margin: 2rem;
    gap: 2%;
    padding: 2rem 0rem;
  }
  .div_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .div_images {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    .actions {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 1rem 0rem;
    }

    &_container {
      height: 20rem;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      overflow-x: auto;
      align-content: space-between;
      justify-content: space-around;
    }
    &_item {
      width: 50%;
      margin-inline: 0.5rem;
      img {
        border-radius: 15px;
        width: 100%;
      }
    }
  }
}
