.card_benef {
    width: fit-content;
    margin: 3% auto;
}
.div_table_marque {
    width: max-content;
    margin: 2% auto 0;
    .cell_marque {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        

        img {
            width: 5rem;
            border-radius: 50%;
            aspect-ratio: 1/1;
            height: 100%;
        }
    }
}