.pagination_container {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    .input {
        width: 5rem;
    }

    .MuiPagination-ul {
        justify-content: center;
    }
}