.dashboard {
  margin: 5rem 0;
  padding-bottom: 2rem;
  .tabs {
    width: 70%;
    margin: 2rem auto 0;
    .MuiTabs-flexContainer {
      justify-content: space-around;
    }
    button {
      outline: none;
    }

    .Mui-selected {
      color: rebeccapurple;
    }
    .MuiTabs-indicator {
      display: none;
    }
  }

  .btn {
    background: #45bdc5;
  }
  .MuiTab-root {
    // position: absolute;
    &.Mui-selected::after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: rebeccapurple;
      position: absolute;
      left: 0;
      bottom: 5px;
    }
  }
}

@media (max-width: 760px) {
  .dashboard {
    .tabs {
      width: 100%;
    }
  }
}
